@font-face {
     font-family: bold;
     src: url(../fonts/NotoSans_ExtraCondensed-SemiBoldItalic.ttf);
}
@font-face {
     font-family: medium;
     src: url(../fonts/NotoSans-MediumItalic.ttf);
}
@font-face {
     font-family: bold-two;
     src: url(../fonts/NotoSans_Condensed-Bold.ttf);
}